In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [4]:
# Import databases
path = r'C:\Users\amuly\07-07-2025 Instacart Basket Analysis\02 Data'

In [5]:
# import dataframe

df_ords = pd.read_csv(os.path.join(path, 'prepared data', 'orders_checked.csv'), index_col=0)

df_ords_prior = pd.read_csv(os.path.join(path,'original data' , 'orders_products_prior.csv'))

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
11,11,2168274,2,1,2,11,NaN
26,26,1374495,3,1,1,14,NaN
39,39,3343014,4,1,6,11,NaN
45,45,2717275,5,1,3,12,NaN

In [8]:
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords.shape

(206209, 7)

In [10]:
df_merge_large = df_ords.merge(df_ords_prior, on = ['order_id'] , how = 'inner', indicator = True)

In [11]:
df_merge_large['_merge'].value_counts()

_merge
both          2078068
left_only           0
right_only          0
Name: count, dtype: int64

In [12]:
# export data as pickle
df_merge_large.to_pickle(os.path.join(path,'prepared data' , 'orders_products_combined_checked.pkl'))